<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/adams549659584/IOS-Install/master/%E8%BF%BD%E4%B9%A6%E7%A5%9E%E5%99%A8%2B2.25.1%2B%E5%85%8D%E8%B6%8A%E7%8B%B1%E7%89%88%E6%9C%AC.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.fnst.smartwork</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>smartwork.ipa</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
